html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
img,
b,
u,
i,
ol,
ul,
li,
form,
label,
section
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}

input,
button {
  outline: none;
  border: none;
  background: none;
}

/* reset css */

body {
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
  width: 100%;
  height: 100vh;
  color: azure;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  animation: fadeInAnimation 1000ms ease-in;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
}

h2 {
  font-size: 50px;
  font-weight: 600;
}

.hidden {
  display: none;
}

#weather-container {
  animation: fadeInAnimation 750ms ease-in 1000ms;
}

@keyframes fadeInAnimation {
  0% {
    background-size: 105%;
    opacity: 0;
  }
  100% {
    background-size: 100%;
    opacity: 1;
  }
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
}

button {
  font-size:15px;
  width:100px;
  height:40px;
  color:azure;
  font-weight:700;
  border-radius: 5px;
  background:linear-gradient(#599bb3, #408c99);
}

button:hover {
  background: linear-gradient(#408c99, #599bb3);
}

input {
  width: 500px;
  height: 35px;
  border-bottom: 4px solid rgb(240, 255, 255, 1);
  border-radius: 5px;
  caret-color: azure;
}

input:focus {
  border-bottom: 4px solid rgb(240, 255, 255, 0.7);
}

/* basic setting */

/* design */

/* clock */

.js-clock {
  top: 10%;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  font-size: 8rem;
  font-weight: 700;
  animation: fadeInAnimation 250ms ease-in 1000ms;

  align-items: baseline;
  display: flex;

  margin-bottom: 20px;
}

.js-clock .seconds {
  font-size: 0.5em;
}


/* login */

.login-container {
  position: absolute;
  top: 35%;
  width: 100%;
  margin-bottom: 20px;
  font-weight: 400;
}

.loginForm {
  font-size: 30px;
}

.nameForm {
  position: absolute;
  width: 100%;
}

.nameForm div{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.nameForm h2:nth-child(2) {
  margin-right: 20px;
}


/* todo container */

.todo-container {
  position: absolute;
  width: 100%;
  top: 50%;
  font-weight: 400;
}

.todo-container > h2 {
  margin-bottom: 30px;
}

#todoForm {
  margin-bottom: 15px;
}

#todoForm input {
  margin-right: 10px;
}

#todoList {
  margin: 0 auto;
  width: 40%;
  height: 20vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#todoList li {
  margin-bottom: 15px;
  text-align: left;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 5px;
  right: 0;
}

#todoList li:hover {
  color: #202020;
}

#todoList li span{
  margin-right: 10px;
  font-size: 25px;
}