html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
img,
b,
u,
i,
ol,
ul,
li,
form,
label,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}

input,
button {
  outline: none;
  border: none;
  background: none;
}

/* reset css */

body {
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
  width: 100%;
  height: 100vh;
  color: azure;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  min-width: 800px;
}

h2 {
  font-size: 50px;
  font-weight: 600;
}

.hidden {
  display: none;
}

/* animation */
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
}

button {
  padding: 5px 15px;
  font-size: 15px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 7px;
  background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
  background-size: 600%;
  animation: anime 16s linear infinite;
}

button:hover {
  background: linear-gradient(-45deg, #3cf0c5, #338aff, #ff3d77, #ffa63d);
  background-size: 600%;
  animation: anime 16s linear infinite;
}

input {
  width: 500px;
  height: 35px;
  font-size: 35px;
  caret-color: azure;
  text-align: center;
  color: azure;
  font-weight: 700;
}

input::placeholder {
  color: rgb(255, 255, 255, 0.5);
  font-style: italic;
}

.underline {
  width: 550px;
  height: 4px;
  border-radius: 5px;
  background-color: azure;
  display: block;
  position: absolute;
  margin-top: 45px;
  margin-bottom: 20px;
}
/* basic setting */

/* design */

/* clock */

.js-clock {
  top: 10%;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  font-size: 8rem;
  font-weight: 700;
  align-items: baseline;
  display: flex;
  margin-bottom: 20px;
  animation: fadeInAnimation 1000ms ease-in;
}

.js-clock .seconds {
  font-size: 0.5em;
}

/* login */

#name {
  vertical-align: bottom;
}

.login-container {
  vertical-align: bottom;
  position: absolute;
  top: 35%;
  width: 100%;
  margin-bottom: 20px;
  animation: fadeInAnimation 1000ms ease-in;
}

.loginForm {
  font-size: 30px;
  justify-content: center;
  align-items: center;
  animation: fadeInAnimation 500ms ease-in;
}

.loginForm label {
  margin-top: 7px;
}

.loginForm div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: baseline;
}

.loginForm .underline {
  width: 500px;
  margin-left: 70px;
  margin-top: 80px;
}

.loginForm label {
  display: inline-block;
  height: 35px;
  vertical-align: bottom;
  font-size: 30px;
}

.nameForm {
  position: absolute;
  width: 100%;
  animation: fadeInAnimation 1000ms ease-in;
}

.nameForm div {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.nameForm div h2 {
  color: rgb(201, 201, 201);
}

.nameForm h2:nth-child(2) {
  margin-right: 20px;
}

/* todo container */

.todo-container {
  position: absolute;
  width: 100%;
  top: 50%;
  font-weight: 400;
  animation: fadeInAnimation 1000ms ease-in;
}

.todo-container > h2 {
  margin-bottom: 30px;
}

#todoForm {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

#todoForm input {
  margin-right: 10px;
}

#todoList {
  margin: 0 auto;
  width: 40%;
  height: 30vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
}

#todoList::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
#todoList {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#todoList li {
  margin-bottom: 15px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 5px;
  right: 0;
  margin-top: 30px;
  min-width: 200px;
  animation: fadeInAnimation 500ms ease-in;
}

#todoList li span {
  margin-right: 10px;
  font-size: 25px;
  display: inline-block;
}

/* weather */
#weather-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  height: 125px;
  background-color: azure;
  color: rgb(0, 0, 0);
  border-radius: 6px;
  position: absolute;
  top: 30px;
  right: 30px;
  opacity: 60%;
  animation: fadeInAnimation 1000ms ease-in;
}

#weather-container > span {
  position: absolute;
  left: 13px;
  bottom: 25px;
}

.weather-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
}

.weather-icon span:first-child {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 10px;
}

.temp-icon {
  position: absolute;
  right: 13px;
  bottom: 25px;
  margin-right: 5px;
}
